﻿@using Dolph.TriggerPopups.Models

@{
    Style.Require("TriggerPopups");
    Script.Require("TriggerPopups");
    TriggerPopupsSettingsPart settings = Model.Settings;
}

<div id="trp-trigger-popup">
    <span class="trp-close-btn">x</span>
    <div class="trp-trigger-popup-content">
        @Html.Raw(settings.Text)    
    </div>    
</div>

<script>
    window.triggerpopups = window.triggerpopups || {};
    window.triggerpopups.triggerMode = '@settings.TriggerMode';
    window.triggerpopups.delayDuration = '@settings.DelayDuration';
    window.triggerpopups.scrollPercentage = '@settings.ScrollPercentage';
    window.triggerpopups.popupPosition = '@settings.PopupPosition';
    window.triggerpopups.cookieExpirationDays = '@settings.CookieExpirationDays';
    window.triggerpopups.testMode = '@settings.TestMode';
</script>
