﻿@model Dolph.TriggerPopups.Models.TriggerPopupsSettingsPart

@{
    Script.Require("TriggerPopupsSettings");
}

<fieldset> <legend>@T("Trigger Popups settings")</legend> 
     @Html.CheckBoxFor(m => m.TestMode)
     @Html.LabelFor(m => m.TestMode, @T("Test Mode").ToString(), new { @class = "forcheckbox" })
    <span class="hint">@T("Check this option for testing functionality, it will show the popup to the same user everytime.")</span>
</fieldset> 
<fieldset>
    @Html.LabelFor(m => m.Text, @T("Content").ToString(), null)
    <span class="hint">@T("The content that will be display in the popup.")</span>
    @Display.Body_Editor(Id:"Text", Text: Model.Text, EditorFlavor: "html")    
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.TriggerMode, @T("Trigger Mode").ToString(), null)
    @Html.DropDownListFor(m => m.TriggerMode, new List<SelectListItem>
                                                                {
                                                                  new SelectListItem{ Text = "Scroll", Value = "Scroll" },
                                                                  new SelectListItem{ Text = "Delay", Value = "Delay" } 
                                                                })
    <span class="hint">@T("The trigger mode that will trigger the popup to show up. Scroll will show up certain % of page position in the length has been reached. Delay will show up when a certain duration of time has been reached.")</span>
</fieldset>
<fieldset class="delay-duration">     
     @Html.LabelFor(m => m.DelayDuration, @T("Delay Duration").ToString(), null)
     @Html.TextBoxFor(m => m.DelayDuration, new { @Value = (Model==null) ? "5000" : Model.DelayDuration.ToString() }) ms
    <span class="hint">@T("The duration in milliseconds before the popup will be shown.")</span>
</fieldset> 
<fieldset class="scroll-percentage">     
     @Html.LabelFor(m => m.ScrollPercentage, @T("Scroll Percentage").ToString(), null)
     @Html.TextBoxFor(m => m.ScrollPercentage, new { @Value = (Model==null) ? "65" : Model.ScrollPercentage.ToString() }) %
    <span class="hint">@T("% of page height before popup will be shown.")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.PopupPosition, @T("Popup Position").ToString(), null)
    @Html.DropDownListFor(m => m.PopupPosition, new List<SelectListItem>
                                                                {
                                                                  new SelectListItem{ Text = "Top Left", Value = "TopLeft" },
                                                                  new SelectListItem{ Text = "Top Right", Value = "TopRight" },
                                                                  new SelectListItem{ Text = "Bottom Left", Value = "BottomLeft" }, 
                                                                  new SelectListItem{ Text = "Bottom Right", Value = "BottomRight" }  
                                                                })
    <span class="hint">@T("The popup position within the browser.")</span>
</fieldset>
<fieldset>     
     @Html.LabelFor(m => m.CookieExpirationDays, @T("Cookie Expiration Days").ToString(), null)
     @Html.TextBoxFor(m => m.CookieExpirationDays, new { @Value = (Model==null) ? "90" : Model.CookieExpirationDays.ToString() })
    <span class="hint">@T("After closing the box, how many days should it stay hidden?")</span>
</fieldset>