#trp-trigger-popup {
  display: none;
  position: fixed;
  padding: 20px;
  -moz-box-shadow: 0 0 10px 1px #888;
  -webkit-box-shadow: 0 0 10px 1px #888;
  box-shadow: 0 0 10px 1px #888;
  background: #fff;
  overflow: auto;
}
#trp-trigger-popup .trp-close-btn {
  font-size: 21px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-shadow: 0 1px 0 #fff;
  -webkit-appearance: none;
  opacity: .3;
  filter: alpha(opacity=30);
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}
#trp-trigger-popup .trp-close-btn:hover {
  opacity: .6;
  filter: alpha(opacity=60);
}
